* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-chicken: #7c022b;
}

body {
  background-color: var(--bg-color-chicken);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main {
  position: relative;
}

.main-frame {
  height: 100vh;
}

.main-frame img {
  height: 100%;
  object-fit: cover;
}

img {
  width: 100%;
}

.footer-logo,
.headline-price,
.stripes,
.stripes .blue,
.stripes .yellow,
.stripes .green,
.big-bang-price {
  position: absolute;
  inset: 0;
}

.hide-show-animation {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.headline-price {
  top: 89px;
}

.hide-show-animation.show {
  opacity: 1;
}

.stripes {
  max-width: 250px;
  width: 100%;
  left: 270px;
  top: 200px;
  z-index: -1;
}

.big-bang-price {
  top: 150px;
  z-index: -1;
  left: -10px;
}

.big-bang-price img {
  max-width: 200px;
}

.chicken-paprika {
  position: absolute;
  max-width: 250px;
  bottom: 200px;
  right: 50px;
}
